@model PLC_GenCo.ViewModels.Standard
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
//Standard details    
*@
<h2>Details</h2>
<p>@Model.AOIName</p>
<p>@Model.ConnectionType</p>


