@model PLC_GenCo.ViewModels.StandardFormViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
//Standard details    
*@
<h2>Details</h2>
<p>@Model.Standard.AOIName</p>
<p>@Model.Standard.Description</p>
<p>@Model.Standard.Group</p>
<p>@Model.Standard.ConnectionType</p>


