@using PLC_GenCo.ViewModels

@model List<PLC_GenCo.ViewModels.Standard>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var filtered = new List<Standard>();
    
}

<h2>Standards</h2>
@if (!Model.Any())
{
    <p>We don't have any standard yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Component</th>
                <th>Group</th>
                <th>Connection</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var standard in Model)
            {
                if (!filtered.Any(c => c.AOIName == standard.AOIName))
                {
                    filtered.Add(standard);
                }

            }
            @foreach (var standard in filtered)
            {
                <tr>
                    <td>@Html.ActionLink(standard.AOIName, "Details", "Standards", new { id = standard.Id }, null)</td>
                    <td>@standard.Group</td>
                    <td>
                        @{
                            String text = System.String.Empty;
                            foreach (var connectionType in Model)
                            {
                                if (connectionType.AOIName == standard.AOIName)
                                {
                                    text += connectionType.ConnectionType.ToString() + ", ";
                                }
                            }
                        }
                        
                        @text.Substring(0, text.Length - 2)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button style="float: right;"> @Html.ActionLink("Load default", "LoadDefaultStandards", "Standards", null) </button>
