@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Frontmatec Skive A/S,<br /> 
    Østerbro 5,<br />
    7800, Skive<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ivu@frontmatec.com">ivu@frontmatec.com</a><br />
</address>