@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GenCo (beta)</h1>
    <p class="lead">Code generator for Rockwell programable logic controllers. </p>
</div>
<p align="right">

    <button> @Html.ActionLink("Clear database", "ResetDatabase", "Home", null) </button>

</p>

